<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Null</title>
    <link rel="shortcut icon" type="image/png" href="../Common Files/image/favicon.png">
    <link rel="stylesheet" href="css/login1.css">
    <link rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/util.css">
    <script src="https://kit.fontawesome.com/24c494a6b6.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <header>
    <div id="logo">
      <a href="/"><img id="imgp" src="images/logo.png"></a>
    </div>
    <ul id="nav_bar2">
      <li id="megamenu_container"><a href="men">men</a></li>
      <li><a href="women">women</a></li>
      <li id="studio"><a href="home">home & living</a><span>new</span></li>
    </ul>
    <div class="ser1">
      <input class="searc1" type="text" id="myTextBox" placeholder="Search">
    </div>
    <div id="right_icon2">
      <div>
        <a href="wish" class="colorchange">
        <i class="fa-regular fa-heart"></i>
        <span>wishlist</span>
        </a>
      </div>
    </div>
    <div id="right_icon2">
      <div id="reggDropdown1">
        <div id="drop1">
            <span>Welcome</span><a class="dropList"><%= username1 %></a>
            <a href="/" class="ejs dropList" onclick="updateUsernum1();">Logout</a>
        </div>
        <i class="fa-regular fa-user"></i>
        <span>profile</span>
      </div>
    </div>
    <div id="right_icon2">
      <div>
        <a class="colorchange" href="bag">
          <i class="fa-solid fa-bag-shopping"></i>
          <span>bag</span>
        </a>
      </div>
    </div>
  </header>
    <div id="boxbody">

        <div class="imgnull">
        <img width="50%" src="images/null.png" alt="">
    </div>

    </div>
    <script>
        function updateUsernum1() {
          const newusernum1 = 1; // Set the new value of usernum1
          fetch('/updateUsernum1', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ usernum1: newusernum1 })
          })
          .then(response => {
            if (response.ok) {
              // If the request was successful, update usernum1 on the client-side
              const usernum1Element = document.querySelector('#usernum1');
              usernum1Element.textContent = newusernum1;
            }
          });
        }
        </script>
</body>

</html>